version: "3.9"

services:
  typesense:
    image: typesense/typesense:0.24.1
    container_name: typesense
    ports:
      - "8108:8108"
    volumes:
      - ./typesense-data:/data
    command: >
      --data-dir /data
      --api-key=xyz
      --enable-cors
    networks:
      - fyne-network

networks:
  fyne-network:
    driver: bridge